body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:60px;
  width:320px;
  height:548px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:40px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:115px;
  top:66px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:220px;
  top:120px;
  width:100px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:139px;
  top:274px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u11 {
  position:absolute;
  left:30px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:139px;
  top:330px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u13 {
  position:absolute;
  left:30px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:139px;
  top:414px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:19px;
  width:267px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:139px;
  top:492px;
  width:27px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:331px;
  top:492px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
