body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:40px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:60px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:40px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:115px;
  top:66px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:139px;
  top:280px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u9 {
  position:absolute;
  left:2px;
  top:19px;
  width:267px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:139px;
  top:116px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u11 {
  position:absolute;
  left:30px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:139px;
  top:172px;
  width:271px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:56px;
}
#u13 {
  position:absolute;
  left:30px;
  top:19px;
  width:239px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:309px;
  top:186px;
  width:81px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
