body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:42px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:560px;
  width:320px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:172px;
  width:320px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:308px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:102px;
  width:320px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:26px;
  width:308px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:242px;
  width:320px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:308px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:375px;
  top:200px;
  width:9px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:90px;
  top:120px;
  width:30px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
