body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:40px;
  width:320px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:260px;
  top:40px;
  width:130px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:176px;
  width:190px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u5 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:407px;
  width:190px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u7 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:448px;
  width:190px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u9 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:488px;
  width:190px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u11 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:82px;
  top:610px;
  width:70px;
  height:63px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:162px;
  top:633px;
  width:27px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:70px;
  top:529px;
  width:190px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u17 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:116px;
  top:86px;
  width:56px;
  height:56px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:122px;
  top:148px;
  width:67px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:70px;
  top:251px;
  width:190px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u23 {
  position:absolute;
  left:30px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:286px;
  width:190px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u25 {
  position:absolute;
  left:30px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:217px;
  width:190px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u27 {
  position:absolute;
  left:30px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:321px;
  width:190px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u29 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:199px;
  top:107px;
  width:41px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:364px;
  width:190px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u33 {
  position:absolute;
  left:30px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
