body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:62px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:580px;
  width:320px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:260px;
  width:132px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u5 {
  position:absolute;
  left:60px;
  top:226px;
  width:53px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:254px;
  width:52px;
  height:23px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:60px;
  top:276px;
  width:58px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:274px;
  top:226px;
  width:53px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:274px;
  top:254px;
  width:52px;
  height:23px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:274px;
  top:276px;
  width:58px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:154px;
  top:222px;
  width:85px;
  height:85px;
  font-size:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:112px;
  width:100px;
  height:92px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u20 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:160px;
  top:112px;
  width:186px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:92px;
}
#u22 {
  position:absolute;
  left:10px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:148px;
  width:75px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:170px;
  top:180px;
  width:53px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:50px;
  top:456px;
  width:320px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:308px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:62px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:68px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:50px;
  top:42px;
  width:320px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
