body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:82px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:82px;
  width:220px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:217px;
  top:102px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:200px;
  top:122px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u7 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:390px;
  top:140px;
  width:16px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:172px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:390px;
  top:190px;
  width:16px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:222px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u15 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:390px;
  top:240px;
  width:16px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:272px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u19 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:390px;
  top:290px;
  width:16px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:217px;
  top:344px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:200px;
  top:372px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u25 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:390px;
  top:388px;
  width:16px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:200px;
  top:422px;
  width:220px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u29 {
  position:absolute;
  left:10px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:390px;
  top:438px;
  width:16px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:200px;
  top:594px;
  width:110px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:56px;
}
#u33 {
  position:absolute;
  left:30px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:310px;
  top:594px;
  width:110px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:56px;
}
#u35 {
  position:absolute;
  left:30px;
  top:19px;
  width:78px;
  word-wrap:break-word;
}
